/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
* {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}

/* variables */
:root {
  --primary-button: #a4bc46;
  --primary-color: #363958;
  --secondary-color: #3e3e3e;
  --price-color: #fabe4c;
  --nav-item-color: #3c3c3c;
}
/* navbar area style */
.header {
  background-color: #fffbf0;
}
.nav-name {
  font-weight: 700;
  font-size:26px;
  font-family: 'Montserrat';
}
.elements{
    font-weight: 500;
    font-size: 16px;
    color: var(--nav-item-color);
    font-family: 'Roboto';
}
/* nav style end */
/* banner area style */
.banner-heading{
    font-weight: 400;
font-size: 80px;
line-height: 96px;

}
.banner-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: var(--secondary-color);
width: 357px;
}
.button{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
border-radius: 10px;
width: 170px;
height: 60px;
font-weight: 500;
font-size: 16px;
color: white;
}