/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
* {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}

/* variables */
:root {
  --primary-button: #a4bc46;
  --primary-color: #363958;
  --secondary-color: #3e3e3e;
  --price-color: #fabe4c;
  --nav-item-color: #3c3c3c;
}
/* navbar area style */
.header,
.background {
  background-color: #fffbf0;
}
.nav-name {
  font-weight: 700;
  font-size: 26px;
  font-family: "Montserrat";
}
.elements {
  font-weight: 500;
  font-size: 16px;
  color: var(--nav-item-color);
  font-family: "Roboto";
}
/* nav style end */
/* banner area style */
.ajdust {
  height: 80vh;
}
.banner-heading {
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
}
.banner-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-color);
  width: 357px;
}
.button {
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  border-radius: 10px;
  width: 170px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

/* women area style */
.women-heading {
  margin-top: 120px;
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-color);
}
.card-style {
  width: 370px;
  height: 550px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border-radius: 10px;
  border: 0;
}
.image-container-1 {
  width: 334px;
  height: 327px;
  background: #f1f1f1;
  border-radius: 20px;
  background-image: url(./images/jacket-1.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-left: 17px;
  margin-top: 18px;
}
.image-container-2 {
  width: 334px;
  height: 327px;
  background: #f1f1f1;
  border-radius: 20px;
  background-image: url(./images/jacket-2.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-left: 17px;
  margin-top: 18px;
}
.image-container-3 {
  width: 334px;
  height: 327px;
  background: #f1f1f1;
  border-radius: 20px;
  background-image: url(./images/jacket-3.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-left: 17px;
  margin-top: 18px;
}

.image-container-4 {
  width: 334px;
  height: 327px;
  background: #f1f1f1;
  border-radius: 20px;
  background-image: url(./images/jacket-4.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-left: 17px;
  margin-top: 18px;
}
.image-container-5 {
  width: 334px;
  height: 327px;
  background: #f1f1f1;
  border-radius: 20px;
  background-image: url(./images/jacket-5.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-left: 17px;
  margin-top: 18px;
}
.image-container-6 {
  width: 334px;
  height: 327px;
  background: #f1f1f1;
  border-radius: 20px;
  background-image: url(./images/jacket-6.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-left: 17px;
  margin-top: 18px;
}
/* common css for man and women description */
.h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #363958;
}
.p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3e3e3e;
  padding-bottom: 10px;
}
.price {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fabe4c;
}

/* man style end */

/* Find the Perfect Fitstyle start */
.margin {
  margin-top: 130px;
}
.icon {
  width: 78px;
  height: 82px;
  margin-left: 13px;
  margin-top: 18px;
}
/* footer style */
.text-white {
  color: white;
}
ul li::before {
  color: red;
}
